{{#if posts}}
{{#each posts}}
<div class="post">
   <div class="post-header">
      <h5 class="text-dark">{{user.name}}</h5>
   </div>
   <figure class="post-image">
      <img src="{{imgPath}}" class="img-fluid">
      <figcaption class="mt-2 h6">{{caption}}</figcaption>
   </figure>
   <div class="comment">
      <ul class="mr-auto navbar-nav my-3">
         <li>
            <i class="far fa-comments fa-2x comment-button"></i>
         </li>
         <li class="comment-section mt-1 mb-2">
            <ul>
               {{#each comments}}
               <li class="comentario">
                  <p>
                     <a href="/users/id" class="usuario font-weight-bold text-dark">{{commentUser}}</a>
                     {{commentBody}}
                  </p>
               </li>
               {{/each}}
            </ul>
         </li>
         <form class="form-inline my-2 my-lg-0" action="/user/comment/{{id}}" method="POST">
            <input class="form-control mr-sm-2 comment-box" type="text" placeholder="Escreva aqui" aria-label="Comentar"
               name="commentBody">
            <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Comentar</button>
         </form>
      </ul>
   </div>
</div>
{{/each}}
{{else}}
<h3>Não há nada por aqui</h3>
<a href="/user/add">Publicar algo</a>
{{/if}}
<script src="/js/comment.js"></script>
