{{#each posts}}
<div class="post">
   <div class="post-header">
      <a href="/user/profile/{{user.id}}">
         <img src="/img/pfp2.jpg" class="pfp-post-header">
         <p class="lead text-dark">{{user.name}}</p>
      </a>
   </div>
   <figure>
      <img src="/img/land2.jpg" class="img-fluid">
      <figcaption class="mt-2">{{caption}}</figcaption>
   </figure>
   <div class="comment">
      <ul class="mr-auto navbar-nav my-3">
         <li>
            <i class="like far fa-heart fa-2x"></i>
            <i class="far fa-comments fa-2x comment-button"></i>
            <p class="text-muted"><span class="likers text-dark">{{likes}}</span> curtiram isso</p>
         </li>
         <li class="comment-section mt-1 mb-2">
            <ul>
               {{#each comment}}
               <li class="comentario">
                  <p>
                     <a href="/users/id" class="usuario font-weight-bold text-dark">{{user.name}}</a>
                     {{comment}}
                  </p>
               </li>
               {{/each}}
            </ul>
         </li>
         <form class="form-inline my-2 my-lg-0" action="/user/comment/{{id}}" method="POST">
            <input class="form-control mr-sm-2 comment-box" type="text" placeholder="Escreva aqui"
               aria-label="Comentar" name="commentBody">
            <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Comentar</button>
         </form>
      </ul>
   </div>

</div>
{{/each}}
<script src="/js/likeButton.js"></script>
<script src="/js/comment.js"></script>