<div class="info">
   <div class="img">
      <img src="{{profile.pfp}}" class="img-thumbnail float-left mr-5" alt="" style="border-radius:50%; width:30%;">
   </div>
   <div class="content">
      <h1>{{profile.name}}</h1>
      <nav class="profile-counters">
         {{#if profile.bio}}
         <p class="lead">
            {{profile.bio}}
         </p>
         {{else}}
         <p class="lead">
            {{profile.name}}
         </p>
      </nav>
   </div>
   <div class="posts">
      <div class="row">
         {{#each post}}
         <div class="col-sm-4 my-3">
            <div class="card">
               <a href="/posts/show/ID">
                  <img src="img/land1.jpg" alt="" class="card-img-top">
               </a>
            </div>
         </div>
         {{/each}}
      </div>
   </div>
</div>
