<div>
   <div class="post-header">
      <a href="/user/profile/{{user.id}}">
         <img src="/img/pfp2.jpg" class="pfp-post-header">
         <p class="lead text-dark">{{user.name}}</p>
      </a>
   </div>
   <figure>
      <img src="{{post.imgPath}}" class="img-fluid">
      <figcaption class="mt-2">{{caption}}</figcaption>
   </figure>
   <div class="comment">
      <ul class="mr-auto navbar-nav my-3">
         <li class="comment-section mt-1 mb-2">
            <ul>
               {{#each post.comments}}
               <li class="comentario">
                  <p>
                     <a href="/users/id" class="usuario font-weight-bold text-dark">{{commentUser}}</a>
                     {{commentBody}}
                  </p>
               </li>
               {{/each}}
            </ul>
         </li>
         {{#if user}}
         <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2 comment-box" type="text" placeholder="Escreva aqui"
               aria-label="Comentar">
            <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Comentar</button>
         </form>
         {{else}}
         <p>Para comentar, <a href="/user/login">Faça o login</a></p>
         {{/if}}
      </ul>
   </div>

</div>

<script src="/js/comment.js"></script>
<script src="/js/likeButton.js"></script>
